* {
  padding: 0px;
  margin: 0px;
  gap: 0px;
  border: 0px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 8px;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  height: 416px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.top,
.main {
  margin: 0px 150px;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  font-family: sans-serif;
  width: fit-content;
}

.links {
  font-size: 18px;
  color: #e5e7eb;
  font-family: sans-serif;
  display: flex;
  align-self: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-family: sans-serif;
  font-weight: bold;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: thin;
}

.top {
  margin-top: 16px;
}

.main {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  flex: 1 1 200px;
  min-height: 100px;
  max-height: 250px;
  margin-right: 20px;
  width: fit-content;
}

.image {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  min-height: 0;
  flex: 1;
}

.image img {
  min-width: 410px;
  max-width: 500px;
  height: 100%;
  border: 2px white solid;
}

button {
  padding: 8px 16px;
  border-radius: 25px;
  margin: 8px 0px;
  background-color: #3882f6;
}

.button {
  display: flex;
  width: fit-content;
  justify-content: center;
}

.button-text {
  font-weight: bold;
}

.image-one img {
  width: 400px;
}
